h1, h2 {
    font-family: 'Oswald', sans-serif;
}
body {
    font-family: 'Open sans', sans-serif;
    color:darkblue;
    margin: 10px 50px 10px 50px;
    width: 950px;
    background-color: ivory;
}
img {
    float: left;
}