/* General */  
body {
    width: 800px;
    margin: 0 auto;
}
/* Typography */ 
#item {
    width: 200px;
    height: 200px;
}
/* block styling */
h1, h2 {
    align-content: center;
}
/* Form styling */
main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-image: url("Images/phone_globe.jpg");
    color: white;
    ;
}
/* Styling the products display */ 
div {
    border: 5px solid black;
    display: flex;
}

.rotate img
{
  animation: rotation .6s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}