* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
    color: white;
    background-image: url('./images/tc_Ching_Stadium.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

form {
    text-align: center;
}

h1,h2{
    text-align: center;
}

#create-acc-form {
    width: 400px;
    padding: 20px;
    text-transform: uppercase;
    background-color: lightgray;
    color: black;
    border-radius: 50px;
}

.title {
    margin-bottom: 20px;
    color: green;
}

.input-group {
    margin: 20px;
    font-family:sans-serif;
    text-align: center;
    border-radius: 10px;
}

.input-group label {
    display: inline-block;
    margin-bottom: 5px;
    font-family:sans-serif;
    color: green;
}

.input-group input {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
}

.btn {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: green;
    border-radius: 25px;
    font-size: 18px;
    color: white;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

.login_link {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: grey;
}

.login_link a{
    color: green;
    text-decoration: none;
}







