
/* Configuring and styling navbar, borrowed sticky & active code from Alyssa Mencel */
ul {

    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightgray;
    position:sticky;
    text-align: center;
    top: 0;
    width: 100%;
}


li, a {
    display:-webkit-inline-flex;
    color: green;
    font-size: 15pt;
    
    text-align: center;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: yellowgreen;
}


