img {
    float: left;
    margin-right: 10px;
}
body {
    font-family: 'Open sans', sans-serif;
    color: yellow;
    margin: 10px 50px 10px 50px;
    width: 950px;
    background-color: black;
}
h1, h2 {
    font-family: 'Oswald', sans-serif;
}