h1, h2 {
    font-family: 'Oswald', sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
}
#index a{
    margin-left: 50px;
    margin-right: 50px;
    background-color: white;
    color: black;
}
body {
    font-family: 'Open sans', sans-serif;
    color: yellow;
    margin: 10px 50px 10px 50px;
    width: 950px;
    background-color: black;
}
